<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link href="/static/css/styleabout1.css" rel="stylesheet">

</head>
<body>
<a href="/">Index</a>
<a href="/portfolio">Portfolio</a>

<div align="center"><strong><h1>SOBRE NOSOTROS</h1></strong></div>

<div align="center"><img src="/static/img/nosotros.jpg">

<strong>
<p><h2>Compromiso e Implicación:</h2></p>

<p>Somos un equipo multidisciplinar compuesto por más de 30 jóvenes especializados en programación, diseño y marketing online.</p>
<p>Nuestro compromiso e implicación asegura la buena relación con los clientes.</p>
<p><h2>Te acompañamos en el camino:<p></h2>
<p>Sabemos que cada cliente es diferente. Te asesoramos y ofrecemos las mejores soluciones para que tu proyecto sea un éxito.<p>
</strong>

</div>

</body>
</html>