<!DOCTYPE html>
<html lang=en>
<head>

<meta charset=utf-8>
<title>Color Portfolio</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">

</head>
<body>

<div class="ul-container">

</div><!-- end div class ul-container -->

<div id="t1">

<div id="t2">

<div id="t3">

<div id="t4">

<div id="t5">

<div class="page" id="p1">

<section class="content">

<div class="inner">
<figure>
<img src="/static/img/man-working-on-laptop.svg" alt="Man Working on Laptop">
</figure>

<h1>My Portfolio</h1>

<p><h3><a href="/portfolio/fb-de">Fakebook</a></h3></p>

<p><h3><a href="/portfolio/hairdresser">Hairdresser</a></h3></p>

<hr3 align="center"><a href="/">Volver a inicio</a></hr3></p>

</div><!-- end div class inner -->
    
</section><!-- end section class content -->

</div><!-- end div class page and id p1 -->

<div class="page" id="p2">

<section class="content">

<div class="inner">

</div><!-- end div class inner -->

</section><!-- end section class content -->

</div><!-- end div class page and id p2 -->

<div class="page" id="p3">

<section class="content">

<div class="inner">


</div><!-- end div class inner -->

</section><!-- end section class content -->

</div><!-- end div class page and id p3 -->

<div class="page" id="p4">

<section class="content">

<div class="inner">

</div><!-- end div class inner -->
             
</section><!-- end section class content -->

</div><!-- end div class page and p4 -->

<div class="page" id="p5">

<section class="content">

<div class="inner">

</div><!-- end div class inner -->
                
</section><!-- end section class content -->

</div><!-- end div class id p5 -->
             
</div><!-- end div class id t1 -->

</div><!-- end div class id t2 -->

</div><!-- end div class id t3 -->

</div><!-- end div class id t4 -->

</div><!-- end div class id t5 -->

<footer class="footer">

<div class="inner-footer">

</div><!-- end div class inner-footer -->

</footer><!-- end footer class footer -->

<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<script>
</script>
</body>
</html>